<div class="container">
    <div id="content">
        <h1>{{ song.title }}</h1>
        <h2>performed by {{ song.performer }}</h2>
        <div plyr style="width: 300px" plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true" [plyrCrossOrigin]="true" [plyrSources]="audioSources"></div>
        <!-- <h2>Lyrics</h2>
        <p>{{ song.lyrics }}</p> -->
        <!-- Wait for our own API- unicode issues with OB-->
        <div [style.display]="'none'">{{ audioSources[0].src }}</div>
    </div>
</div>
