<div class="container" id="linkspage" style="align-items: center;">
    <div id="spacer">
    <div id="content">
        <h1 style="text-align: center;">TEACHERS</h1>
        <p>Here is a modernized version of the Tŝilhqot’in Alphabet. The word list and pictures were compiled by Bella Alphonse with assistance from Aaron Plahn and the template was designed by Aaron Plahn in Publisher. Thanks to Shane Doddridge for suggesting Publisher for this purpose.</p>

        <h2>Alphabet_v10</h2>

        <p>Play the associated game on the web or download it as an App on Google Play.</p>
</div>
</div>
</div>