#linkspage {
    color: white;
    position: sticky;
    font-size: 16px;
    margin-top: 0px;
    background-image: inherit;
    -webkit-backdrop-filter: blur(45px) brightness(55%);
    backdrop-filter: blur(45px) brightness(55%);
    margin-bottom: 65px;
    min-height: 90vh;
}

.spacer {
    margin-top: 1000px;
}

.content {
    display: inline-block;
}

