<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">
        <h1 style="text-align: center; font-size: 60px;">LINKS</h1>
        <h2>Tŝilhqot’in National Government</h2>
        <p>This website is an undertaking of the Tŝilhqot’in National Government. <a style="color: lawngreen" href="www.tsilhqotin.ca">Here is a link to the TNG website.</a></p>
    </div>
        <h2>Other Language Resources</h2>
        <p>Here are some links to some external resources published on the web by others working on language.</p>
        
        <h2>Linda Smith’s M.A. Thesis</h2>
        <p><a style="color: lawngreen" href="https://dspace.library.uvic.ca/bitstream/handle/1828/934/Linda%20Smith%20Niminh%20thesis%202008.pdf?sequence=1&isAllowed=y" target="_blank">Here</a> is a link to Linda Smith’s thesis “Súwh-tŝ’éghèdúdính: the Tsìnlhqút’ín Nímính Spiritual Path”. Linda completed her Master of Arts degree at the <a style="color: lawngreen" href="www.tsilhqotin.ca">University of Victoria.</a></p>
        
        <h2>YouTube Videos</h2>
        <h3>Diabetes</h3>
        <p><a style="color: lawngreen" href="https://www.youtube.com/watch?v=t2zt1JVtdj0&feature=youtu.be" target="_blank">Here</a> is a presentation about diabetes by Betty Lulua and Catherine Haller. It is a good resource for Tŝilhqot’in speakers to learn about diabetes, and for young people to learn Tŝilhqot’in. There are pictures and bullet-point translations that make it easy to follow the discussion.</p>
        
        <h2>Tŝilhqot’in Dialogue</h2>
        <p><a style="color: lawngreen" href="https://youtu.be/BW4551zAfHI" target="_blank">This</a> cartoon has a dialogue between ant and bear. It teaches introductions and farewells. By Grant Alphonse and HungryBoy productions.</p>
        
        <h2>First Voices</h2>
        <p><a style="color: lawngreen" href="https://fv.nuxeocloud.com/explore/FV/sections/Data/Athabascan/Tsilhqot'in%20(Xeni%20Gwet'in)/Tsilhqot'in%20(Xeni%20Gwet'in)" target="_blank">Here</a> is a link to the Xeni Gwet’in langauge portal on First Voices. Click “Learn our language” to get started. There is a dictionary with many words and phrases as well as stories and songs. These excellent resources for learners were put together by the Jeni Huten Language Committee.</p>
        
        <h2>Unicode Keyboard</h2>
        <p><a style="color: lawngreen" href="http://www.languagegeek.com/dene/keyboards/romdene.html" target="_blank">Here</a> is a link to the keyboards by Language Geek. Scroll down to find the download and installation instructions for Tŝilhqot’in (under “Alberta, BC, Sask. Athabaskan”).</p>
        
        <p>This keyboard will allow you to send your work to others without losing special characters; you don’t have to have the keyboard installed on your system to see the special characters. It allows you to place caps on consonants (including capital letters: Ŝŝ), insert “ɨ” or “ʔ”, and to mark tone (e.g. á).</p>
        
        <h2>Font Conversion</h2>
        <p>For the more technically inclined- Aidan Pine put together <a style="color: lawngreen" href="http://www.languagegeek.com/dene/keyboards/romdene.html" target="_blank">convertextract</a>, a really cool tool that can be used to batch convert documents to Unicode.</p>
        
        <h2>Projects and Funders</h2>
        <p>Here are some projects that we have been part of. We are very grateful to have received funding to carry out this important work!</p>
        
        <h2>Indigitization</h2>
        <p>“The <a style="color: lawngreen" href="http://www.indigitization.ca/grant-program/" target="_blank">Indigitization Grant Program</a> is a grant funding opportunity sponsored by the Irving K. Barber Learning Centre at the University of British Columbia, Museum of Anthropology at the University of British Columbia, and the First Nations Technology Council.”</p>
        
        <h2>HBC Capacity Initiative</h2>
        <p>Our work has previously been funded in part through the <a style="color: lawngreen" href="http://www.bccapacity.org/" target="_blank">BC Capacity Initiative</a> (BCCI).</p>
        
        <h2>Simon Fraser University First Nations Languages Centre</h2>
        <p>Since 2015, we have been partnering with <a style="color: lawngreen" href="https://www.sfu.ca/fnlc.html" target="_blank">SFU</a> as part of the 7 year project, First Nations Languages in the Twenty-first Century: Looking Back, Looking Forward. This project is funded by a partnership grant from the Social Sciences and Humanities Research Council (SSHRC). SFU shared their custom learning management system, and funding for language documentation that resulted in an extensive audio collection that is now being made available through this site and mobile games and apps.</p>
        
        <h2>New Relationship Trust</h2>
        <p>The language <a style="color: lawngreen" href="http://www.mytest.tsilhqotinlanguage.ca/videos/" target="_blank">videos</a> “<a style="color: lawngreen" href="http://www.mytest.tsilhqotinlanguage.ca/ts-eman_ts-elhgen/" target="_blank">Ts'eman Ts'elhgen</a>” and “<a style="color: lawngreen" href="" target="_blank">ʔEts’eteqash</a>” were produced by William Myers as part of a project funded through the <a style="color: lawngreen" href="http://www.newrelationshiptrust.ca/initiatives/elders-youth/" target="_blank"> New Relationship Trust BC First Nation Elders & Youth Grant Initiative 2017-2018.</a></p>
    </div>
