<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">

    <h1 style="text-align: center;">Links</h1>
        <div class="container"></div>
            <h2>Tŝilhqot’in National Government</h2>
            <p>This website is an undertaking of the Tŝilhqot’in National Government. <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the TNG website.</a></p>
            <h2>Other Language Resources</h2>
            <p>Here are some links to some external resources published on the web by others working on language.</p>
        
            <h2>Linda Smith’s M.A. Thesis</h2>
            <p><a style="color: lawngreen" href="https://dspace.library.uvic.ca/bitstream/handle/1828/934/Linda%20Smith%20Niminh%20thesis%202008.pdf?sequence=1&isAllowed=y" target="_blank">Here</a> is a link to Linda Smith’s thesis “Súwh-tŝ’éghèdúdính: the Tsìnlhqút’ín Nímính Spiritual Path”. Linda completed her Master of Arts degree at the <a style="color: lawngreen" href="www.tsilhqotin.ca">University of Victoria.</a></p>
        
            <h2>YouTube Videos</h2>
            <h3>Diabetes</h3>
            <p><a style="color: lawngreen" href="https://www.youtube.com/watch?v=t2zt1JVtdj0&feature=youtu.be" target="_blank">Here</a> is a presentation about diabetes by Betty Lulua and Catherine Haller. It is a good resource for Tŝilhqot’in speakers to learn about diabetes, and for young people to learn Tŝilhqot’in. There are pictures and bullet-point translations that make it easy to follow the discussion.</p>
        
            <h2>Tŝilhqot’in Dialogue</h2>
            <p><a style="color: lawngreen" href="https://youtu.be/BW4551zAfHI" target="_blank">This</a> cartoon has a dialogue between ant and bear. It teaches introductions and farewells. By Grant Alphonse and HungryBoy productions.</p>
        
            <h2>First Voices</h2>
            <p><a style="color: lawngreen" href="https://fv.nuxeocloud.com/explore/FV/sections/Data/Athabascan/Tsilhqot'in%20(Xeni%20Gwet'in)/Tsilhqot'in%20(Xeni%20Gwet'in)" target="_blank">Here</a> is a link to the Xeni Gwet’in langauge portal on First Voices. Click “Learn our language” to get started. There is a dictionary with many words and phrases as well as stories and songs. These excellent resources for learners were put together by the Jeni Huten Language Committee.</p>
        
            <h2>Unicode Keyboard</h2>
            <p><a style="color: lawngreen" href="http://www.languagegeek.com/dene/keyboards/romdene.html" target="_blank">Here</a> is a link to the keyboards by Language Geek. Scroll down to find the download and installation instructions for Tŝilhqot’in (under “Alberta, BC, Sask. Athabaskan”).</p>
        
            <p>This keyboard will allow you to send your work to others without losing special characters; you don’t have to have the keyboard installed on your system to see the special characters. It allows you to place caps on consonants (including capital letters: Ŝŝ), insert “ɨ” or “ʔ”, and to mark tone (e.g. á).</p>
        
            <h2>Font Conversion</h2>
            <p>For the more technically inclined- Aidan Pine put together <a style="color: lawngreen" href="http://www.languagegeek.com/dene/keyboards/romdene.html" target="_blank">convertextract</a>, a really cool tool that can be used to batch convert documents to Unicode.</p>
        
        
    </div>