<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">
    <h1 style="text-align: center;">Community Radio Project</h1>
     
    <p style="font-size: 30px; text-align: center; padding: 0px;">
       <app-radioplayer></app-radioplayer>
    </p>

    <p>
        We are an Indigenous broadcasting group supporting revitalization and restoration of Tŝilhqot’in language and culture while building on the need to discuss relevant indigenous issues on a shareable platform to thousands across the country. As the Tŝilhqot’in Nation won Aboriginal Title in the Supreme Court of Canada- a first in Canadian history- we broadcast important discussions relevant to First Nations, Inuit and Metis across Canada.
    </p>
</div>
</div>