.navbar-brand {
    margin-left: 25px;
}

.active, .btn {
    color: greenyellow;
}

.navbar {
    box-shadow: 0 9px 9px 0 rgba(32, 32, 32, 0.726), 0 6px 20px 10px rgba(0, 0, 0, 0.384);
    display: block;
    color: white;
    padding: 0px;
    background: rgb(5, 0, 80);
    position: fixed;
    width: 100%;
}

.navbar-toggler {
    margin-right: 10px;
}

.dropdown-item {
    font-size: 24px;
    color: black;
    padding-left: 12px;
}

li {
    text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 1px;
  display: block;
  width: 150px;
}

button {
    color: white;
    background-color: inherit;
    display: block;
    border: none;
    font-weight: 500;
    height: 100px;
    width: 120px;
    font-size: 22px;
}

button:hover {
    opacity: 0.5;
    transform: scale(1.1) translate(105% 105%);
    box-shadow: 4px 4px 4px 4px rgba(.3, .3, .3, 0.3), 6px 6px 20px 6px rgba(.3, .3, 0.3, 0.3);
}

@media (max-width: 768px) {
    #mobilebutton {margin-top: -100px; margin-bottom: 50px;}
}

@media (max-width: 1200px) {
    #navbarResponsive {
        background: inherit;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-backdrop-filter: blur(15px) brightness(65%);
        backdrop-filter: blur(15px) brightness(65%);
    }

    button {
        height: 70px;
    }

    button:hover {
        transform: scale(0) translate();
        box-shadow: none;
    }

}

