.navbar-brand {
    margin-left: 25px;
}

.navbar {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
    display: block;
    color: white;
    padding: 0px;
    background-color: rgba(4, 4, 100, 0.301);
    -webkit-backdrop-filter: blur(15px) brightness(65%);
    backdrop-filter: blur(15px) brightness(65%);
}

.navbar-toggler {
    margin-right: 10px;
}

li {
    text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 1px;
  display: block;
  width: 150px;
}

button {
    color: white;
    background-color: inherit;
    display: block;
    border: none;
    font-weight: 500;
    height: 100px;
    width: 120px;
    font-size: 25px;
}

button:hover {
    opacity: 0.5;
    transform: scale(1.1) translate(105% 105%);
    box-shadow: 4px 4px 4px 4px rgba(.3, .3, .3, 0.3), 6px 6px 20px 6px rgba(.3, .3, 0.3, 0.3);
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}