<nav class="navbar navbar-expand-xl navbar-light bg-inherit sticky-top" role="banner">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://datsan.openbroadcaster.pro/download.php?media_id=3033" style="height: 100px;"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="align-items: center; width: auto;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/radio"><button class="w3-btn w3-black">
            <h5 style="font-size: 23px;" (click)="navbarItemClick()">Tŝilhqot’in Radio 104.5 FM</h5>
          </button>
        </a>
        </li>
        <li *ngFor="let item of navbarItems" (click)="navbarItemClick()" id="{{ item.name }}" class="nav-item">
          <a class="nav-link" routerLink="{{ item.routerLink }}">
            <button class="w3-btn w3-black">
              {{ item.display }}
            </button>
          </a>
        </li>     
        <div class="dropdown" style="display: flex; flex-direction: row;">
          <button type="button" class="button dropdown-toggle" (click)="toggleDropdown()">
            More
          </button>
          <div id="mobilebutton" [ngbCollapse]="isDropdownCollapsed" class="dropdown-menu" style="background-color: white;">
            <a *ngFor="let item of moreNavbarItems" class="dropdown-item" id="{{ item.name }}" routerLink="{{ item.routerLink }}" (click)="dropdownItemClick()">{{ item.display }}</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>




