<nav class="navbar navbar-expand-lg navbar-light bg-inherit sticky-top" role="banner">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="\assets\TNG-logo-Colour.png" style="height: 100px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="align-items: center; width: auto;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><button class="w3-btn w3-black">Home</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/radio"><button class="w3-btn w3-black">
            <h5 style="font-size: 23px;">Tŝilhqot’in Radio 104.5 FM</h5>
          </button>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videos"><button class="w3-btn w3-black">Videos</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/teachers"><button class="w3-btn w3-black">Teachers</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/links"><button class="w3-btn w3-black">Links</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/dialect"><button class="w3-btn w3-black">Dialect</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/apps"><button class="w3-btn w3-black">Apps</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/funders"><button class="w3-btn w3-black">Funders</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/contact"><button class="w3-btn w3-black">Contact</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>




