<!-- <header>
    <div class="container" id="navbar">
        <a href="#" class="logo">Tsilhqotin Language</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/media">Media</a></li>
                <li><a href="#" routerLink="/staff">Staff</a></li>
                <li><a href="#" routerLink="/dialect">Dialect</a></li>
                <li><a href="#" routerLink="/teachers">Teachers</a></li>
                <li><a href="#" routerLink="/contact">Contact</a></li>
            </ul>
        </nav>

    </div>
</header> -->

<nav class="navbar navbar-expand-md navbar-light bg-inherit sticky-top" role="banner" style="color:white;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="\assets\TNG-logo-Colour.png" style="height: 100px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/"><button class="w3-btn w3-black">Home</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/media"><button class="w3-btn w3-black">Media</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/staff"><button class="w3-btn w3-black">Staff</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/dialect"><button class="w3-btn w3-black">Dialect</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/credits"><button class="w3-btn w3-black">Credits</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>




