<div class="container" id="linkspage" style="align-items: center;">
  <div id="content">
    <div id="inner">
      <div id="heading">
        <div id="container">
          <h1 style="text-align: center;">Contact</h1>
        </div>
      </div>

<h3>Tŝilhqot'in National Government, Language Department</h3>
  <section class="container" id="section">
    <div class="one">
      <h4>Aaron Plahn</h4>
      <p>Language Technology Manager</p>
      <h4>Bella Alphonse</h4>
      <p>Language Advisor</p>
      <h4>Racine Jeff</h4>
      <p>Admin. Assistant</p>
      <h4>Braeden Boyd</h4>
      <p>Digitization Technician</p>
      <h4>Helen Haig-Brown</h4>
      <p></p>
      <h4>Justin Bambrick</h4>
      <p>Technical Assistant</p>
    </div>
    <div class="two">
      <ul class="a">
        <h4>Address <span class="glyphicon">&#x2709;</span></h4>
        <li>79A 3rd Ave N</li>
        <li>Williams Lake, BC V2G 4T4</li>
       <br>
        <h4>Phone:<span class="glyphicon glyphicon-earphone"></span> </h4><p> 778-412-1112</p>
      </ul>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-earphone"></span> Earphone
      </button>
    </div>
  </section>
</div>

  </div>
  </div>

