<div class="container" id="linkspage" style="align-items: center;">
  <div id="content">
    <div id="inner">
      <div id="heading">
        <div id="container">
          <h1 style="text-align: center;">Contact</h1>
        </div>
      </div>

<h2>Language Department</h2>
  <section class="container" id="section">
    <div class="one">
      <h3>Aaron Plahn</h3>
      <p>Language Technology Manager</p>
      <h3>Bella Alphonse</h3>
      <p>Language Advisor</p>
      <h3>Racine Jeff</h3>
      <p>Admin. Assistant</p>
      <h3>Braeden Boyd</h3>
      <p>Digitization Technician</p>
      <h3>Helen Haig-Brown</h3>
      <p></p>
      <h3>Justin Bambrick</h3>
      <p>Technical Assistant</p>
    </div>
    <div class="two">
      <ul class="a">
        <h3>Address <span class="glyphicon">&#x2709;</span></h3>
        <li>79A 3rd Ave N</li>
        <li>Williams Lake, BC V2G 4T4</li>
       <br>
        <h3>Phone:<span class="glyphicon glyphicon-earphone"></span> </h3><p> 778-412-1112</p>
      </ul>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-earphone"></span> Earphone
      </button>
    </div>
  </section>
</div>

  </div>
  </div>

