<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">

<h1 style="text-align: center;">Contact</h1>
<h2>Tŝilhqot’in National Government</h2>
<h3>Staff Directory</h3>
    <p>by the Tŝilhqot’in Language Committee and Jay Nelson</p>
    <p>The Tŝilhqot’in language is valuable to our future generations, we need to respect and acknowledge the diversity of the Tŝilhqot’in language dialects of each community; Tl’esqox, Tŝi Deldel, Yuneŝit’in, ʔEsdilagh, Xeni Gwet’in, and Tl’etinqox.</p>

    <p>When we use the term ’dialect’, we are not referring to any ’correctness’ nor ’inaccuracies’ in how Tŝilhqot’in is spoken, but simply acknowledging that the pronunciation may differ slightly in each community. When our elders speak Tŝilhqot’in we listen and learn and appreciate the richness of the different dialects.</p>
    </div>
</div>