<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">
        <h1 style="text-align: center;">APPS</h1>
        <h2>Mobile Games and Apps</h2>
        <p>The following apps are available on Android, with iOS in the works.</p>
        
        <h1>Digital Verb Book</h1>
        <p>Version 1.0 is currently published and contains ’Third Person Singular Paradigms’ completed Bella Alphonse. These are really helpful for semi-speakers who need practice with verb stem alternations.</p>
        
        <p>Version 1.0 is available for Android, and requires an internet connection.</p>
        
        <h2>Android</h2>
        <a style="color: lawngreen" href="https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.tsilhqotindvb" target="_blank">https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.tsilhqotindvb</a>
        
        <h2>iOS</h2>
        <h2>COMING SOON!</h2>
        
        <p>Version 2.0 is in development. It will feature</p>
        <ul class="a">
        <li>Available on iOS as well</li>
        <li>Offline Mode- optionally download audio to phone</li>
        <li>General Word Lists including</li>
        <li>William Myers dictionary (in progress)</li>
        <li>Complex verb paradigms</li>
        <li>Possessive paradigms for nouns (mine, yours, his, etc.) and postpositions</li>
        <p>more</p>
        <li>Paradigms completed by Bella Alphonse</li>
        <li>Classificatory verbs (handling objects)</li>
        <li>descriptive verbs</li>
        <li>motion verbs</li>
        </ul>
        <p>To date over 100,000 phrases have been recorded, with about 50,000 named and organized. Version 2.0 of this app will allow us to present this material to learners.</p>
        
        <h1>Memory Match Tŝilhqot’in</h1>
        <p>The Memory Match game is one of Bella’s favourite activities to bring to the schools. That inspired this digital app where you can build your vocabulary as you look for matches. Available for Android and iOS.</p>
        
        <h2>Android</h2>
        <a style="color: lawngreen;" href="https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.memorymatch" target="_blank">https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.memorymatch</a>
        
        <h2>iOS</h2>
        <a style="color: lawngreen;" href="https://itunes.apple.com/us/app/memory-match-t%C5%9Dilhqotin/id1462972336?mt=8" target="_blank">https://itunes.apple.com/us/app/memory-match-t%C5%9Dilhqotin/id1462972336?mt=8</a>
        
        <p>The current version features Bella Alphonse’s original 6 rounds (also found on the web version) and an additional 6 rounds completed by Maria Myers. Aaron picked a collection of pictures for Maria to describe that included many common or interesting verbs.</p>
        
        <p>We hope more speakers will contribute additional rounds in the future. This app is a favourite among Tŝilhqot’in children.</p>
        
        <h1>Tŝilhqot’in Alphabet</h1>
        <p>This app goes along with the modernized Tŝilhqot’in Alphabet Poster. It can be used as a ’cheat sheet’ for the poster.</p>
        
        <h2>Android</h2>
        <a style="color: lawngreen;" href="https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.tsilhqotinalphabet" target="_blank">https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.tsilhqotinalphabet</a>
        
        <h2>iOS</h2>
        <p>COMING SOON!</p>
        
        <h1>Qungh ʔAnaghunt’in</h1>
        <p>This is a prototype for an interactive language learning game. We will eventually build a more comprehensive version of this game with newer technology.</p>
        
        <p>Currently available on Android 7.0 + only. We are changing the technology on this one to reach a broader audience.</p>
        
        <h2>Android (7.0+)</h2>
        <a style="color: lawngreen;" href="https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.qungh_7anaghunt_in" target="_blank">https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.qungh_7anaghunt_in</a>
        
        <p>This game features ’respond-to-command’ as well as ’word-builder’ interactions. The ’word-builder’ approach encourages learners to focus separately on the stem or prefix as opposed to trying to digest long verbs whole. It was implemented by Aaron Plahn based on his experience with the language acquisition of children Briseis and Dakota, who have been learning from their grandparents Tina and Mary Setah. They mastered the meaning of verb stems quite early, and only began to make sense of the prefixes much later. Some of the things they say are quite comical!</p>
    
    </div>
