<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">
    <h1 style="text-align: center;">Community Radio Project</h1>
     
    <p style="font-size: 30px; text-align: center; padding: 0px;">
        <button style="border-radius: 10px;" onclick="myFunction()">
            <img src="\assets\tsilhqotin_radio_logo.jpg" alt="" height="100px">
          <p>LISTEN LIVE 🔴</p>
        </button>

        <script>
        function myFunction() {
          var myWindow = window.open("", "", "");
        }
        </script>  
    </p>

    <p>
        We are an Indigenous broadcasting group supporting revitalization and restoration of Tŝilhqot’in language and culture while building on the need to discuss relevant indigenous issues on a shareable platform to thousands across the country. As the Tŝilhqot’in Nation won Aboriginal Title in the Supreme Court of Canada- a first in Canadian history- we broadcast important discussions relevant to First Nations, Inuit and Metis across Canada.
    </p>
</div>
</div>