<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">
    <h1 style="text-align: center;">SONGS</h1>
    <p class="glow" style="font-size: 50px; text-align: center; margin-top: 200px;">
        <button onclick="myFunction()">
            <p>Tsilhqot'in Radio</p>
            <p>104.5 FM | LISTEN LIVE</p>
        </button>

        <script>
        function myFunction() {
          var myWindow = window.open(routerLink="/Radioplayer", "Tsilhqot'in Radio 104.5 FM | Listen Live", "width=200,height=100");
        }
        </script>
        
    </p>
</div>
</div>