#linkspage {
    position: relative;
    color: white;
    font-size: 16px;
    margin-top: 0px;
    padding-left: 200px;
    padding-right: 200px;
    background-image: inherit;
    -webkit-backdrop-filter: blur(45px) brightness(55%);
    backdrop-filter: blur(45px) brightness(55%);
    margin-bottom: 65px;
    min-height: 90vh;
}

li {
  list-style-type: none;
}

.content {
    display: inline-block;
}

ul.p {
  list-style-type: circle;
}


.glow {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}