#linkspage {
    position: relative;
    color: white;
    font-size: 16px;
    margin-top: 0px;
    background-image: inherit;
    -webkit-backdrop-filter: blur(45px) brightness(55%);
    backdrop-filter: blur(45px) brightness(55%);
    margin-bottom: 65px;
    min-height: 90vh;
}

p {
    margin-left: 50px;
}

.content {
    display: inline-block;
}

ul.p {
  list-style-type: circle;
}
