<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">

<h1 style="text-align: center;">FUNDERS</h1>
<h2 style="text-align: center;">Language Program</h2>
<h3>National Research Council</h3>
        <p>
            <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the NRC website.</a>
        </p>
<h3>Listen Hear Our Voices</h3>
        <p>
            <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the LHOV website.</a>
        </p>
<h2 style="text-align: center;">Radio Comminity Project</h2>
<h3>Northern Aboriginal Broadcasters</h3>
<p>
    <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the NAB website.</a>
</p>
<h3>First Peoples Cultural Council</h3>
<p>
    <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the NAB website.</a>
</p>
<h3>Cariboo Chilcotin Aboriginal Training Employment Centre</h3>
<p>
    <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the NAB website.</a>
</p>
    </div>
</div>