<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">

<h1 style="text-align: center;">FUNDERS</h1>
<h2 style="text-align: center;">Language Program</h2>
<h3>National Research Council</h3>
        <p>
            <a style="color: lawngreen" href="https://nrc.canada.ca/en" target="_blank">Here is a link to the NRC website.</a>
        </p>
<h3>Listen Hear Our Voices</h3>
        <p>
            <a style="color: lawngreen" href="https://www.bac-lac.gc.ca/eng/discover/aboriginal-heritage/initiatives/listen/Pages/default.aspx" target="_blank">Here is a link to the LHOV website.</a>
        </p>
<h2 style="text-align: center;">Radio Comminity Project</h2>
<h3>Northern Aboriginal Broadcasting</h3>
<p>
    <a style="color: lawngreen" href="https://www.canada.ca/en/canadian-heritage/services/funding/aboriginal-peoples/northern-broadcasting.html" target="_blank">Here is a link to the NAB website.</a>
</p>
<h3>First Peoples Cultural Council</h3>
<p>
    <a style="color: lawngreen" href="http://www.fpcc.ca/" target="_blank">Here is a link to the FPCC website.</a>
</p>
<h3>Cariboo Chilcotin Aboriginal Training Employment Centre</h3>
<p>
    <a style="color: lawngreen" href="http://www.ccatec.com/" target="_blank">Here is a link to CCATEC's website.</a>
</p>
    </div>
</div>