<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">

<h1 style="text-align: center;">FUNDERS</h1>
<h2>National Research Council</h2>
        <p>
            <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the NRC website.</a>
        </p>
<h2>Listen Hear Our Voices</h2>
        <p>
            <a style="color: lawngreen" href="http://www.tsilhqotin.ca/" target="_blank">Here is a link to the LHOV website.</a>
        </p>
    </div>
</div>