<div id="heading">
    <div id="container">
        <h1 style="text-align: center;color: red;">Community Radio Project</h1>
    </div>
</div> 

        <div class ="container" onclick="myFunction()">
            <img src="https://datsan.openbroadcaster.pro/download.php?media_id=3038" alt="" height="100px">
          <p>LISTEN LIVE 🔴</p>
          <audio #player controls="false"></audio>
        </div>

    
   
    <p style="padding-top:20px;">
        We are an Indigenous broadcasting group supporting revitalization and restoration of Tŝilhqot’in language and culture while building on the need to discuss relevant indigenous issues on a shareable platform to thousands across the country. As the Tŝilhqot’in Nation won Aboriginal Title in the Supreme Court of Canada- a first in Canadian history- we broadcast important discussions relevant to First Nations, Inuit and Metis across Canada.
    </p>

    

