body {
    background: url(src\assets\tsilhqotin_language_lake.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#linkspage {
  position: relative;
  color: white;
  font-size: 16px;
  margin-top: 0px;
  padding-left: 100px;
  padding-right: 100px;
  background-image: inherit;
  -webkit-backdrop-filter: blur(45px) brightness(55%);
  backdrop-filter: blur(45px) brightness(55%);
  margin-bottom: 65px;
  min-height: 90vh;
}


h1 {
    padding-bottom: 35px;
}

#linkspage, #containers {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

ul.p {
  list-style-type: circle;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}