#container {
    position: relative;
    -webkit-backdrop-filter: grayscale(90%);
    backdrop-filter: grayscale(90%);
    width: 100%;
    height: fit-content;
	border-style: none;
	padding: 45px;
    color: rgb(5, 0, 80);
	background-color: rgba(255, 255, 255, 0.753);
    text-align: center;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h2 {
color: red;
-webkit-text-stroke-width: 1px;
	  -webkit-text-stroke-color: black;
	  font-weight: 700;
}
p {
    font-size: 22px;
}
@media (max-width: 726px) {
    .container {
        width: 100%;
    }
  }