<!--
<div class="container" id="containers">
    <div id="inside">
        <h2>TŜILHQOT’IN CH’IH YALTƗG / NENQAYNI CH’IH YALTƗG</h2>
        <p style="color:  rgb(202, 202, 202);">WE'RE SPEAKING THE TŜILHQOT’IN LANGUAGE.</p>
    </div>
</div>
-->


        
     
            <div class='box-outer'>
            <div class='main_box'>
              <div class='bar top'></div>
              <div class='bar right delay'></div>
              <div class='bar bottom delay'></div>
              <div class='bar left'></div>
              <div class="content">
                <h2 style="color: rgb(255, 255, 255);">Tŝilhqot’in Ch’ih Yaltɨg / Nenqayni Ch’ih Yatɨg</h2>
                <p style="color:  rgb(202, 202, 202);">We’re speaking the Tŝilhqot’in Language</p>
                
            </div>
        