<div class="container" id="linkspage" style="align-items: center;">
    <div id="content">
    <h1 style="text-align: center;">VIDEOS</h1>
    <p class="glow" style="font-size: 50px; text-align: center; margin-top: 200px;">CONTENT COMING SOON!</p>
    <div class="container">                                          
        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            Dropdown button
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div>
      </div>
</div>
</div>
